{% extends "jobs/../jobs/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Leader Terminal - Employer Sign up</title>
    <script type="text/javascript" src="https://js.authorize.net/v1/Accept.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/payform@1.4.0/dist/payform.min.js"
            charset="utf-8"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div id="login-div" class="row justify-content-center mb-5 mt-5">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="shadow_box welcome-header">
                    <h2>Employer Sign Up</h2>
                    <h4>Please fill out the details below, and we will reach out to you if your account is approved to
                        post
                        jobs on Leader Terminal.</h4>
                    <div class="button_item">
                        <form method="post" id="employerSignupform">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary btn-color mb-2 submit-btn">Sign Up
                            </button>
                        </form>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
