{% extends 'jobs/../jobs/base.html' %}
{% block content %}
    <div class="page_title_wrapper">
        <div class="container">
            <h3 class="text-center">Member FAQ</h3>
        </div>
    </div>
    <div class="news_page_wrapper pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class=" offset-md-1 col-md-10 col-sm-12 col-12">
                <div class="news_listing faq_listing">
                    <h3>Getting Started</h3>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_1" aria-expanded="false"
                           aria-controls="faq_1">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">Why use Leader Terminal?</span>
                        </a>
                        <div class="collapse" id="faq_1">
                            <div class="card card-body ">
                                <p> You can find more career opportunities with ease compared to other
                                    executive-level
                                    job searching platforms.</p>
                                <p>
                                    As a member of Leader Terminal you will have access to many high-level job
                                    opportunities
                                    that
                                    haven’t been shown publicly.
                                </p>
                                <p>
                                    Most of these positions you wouldn’t have heard about in the first place through
                                    traditional
                                    job searching platforms.
                                    Check out some of our member’s success stories.</p>
                            </div>
                        </div>
                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_2" aria-expanded="false"
                           aria-controls="faq_2">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">What positions can I find on Leader Terminal?</span>
                        </a>
                        <div class="collapse" id="faq_2">
                            <div class="card card-body ">
                                <p> We review everything submitted by employers, recruiters, and members to ensure
                                    that
                                    they are a good fit for you.
                                </p>
                                <p>
                                    Most of these positions are Vice President level and above.</p>
                                <p>
                                    You can also customize the jobs you receive in your weekly email from Leader
                                    Theory
                                    by updating your email preferences here. </p>
                            </div>
                        </div>

                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_3" aria-expanded="false"
                           aria-controls="faq_3">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">How much is this going to cost me? </span>
                        </a>
                        <div class="collapse" id="faq_3">
                            <div class="card card-body ">
                                <p> You can Join Leader Terminal absolutely free.
                                </p>
                                <p>
                                    As a Standard Member you will have the ability to see all Leader Terminal job
                                    listings.
                                </p>
                                <p>
                                    If you upgrade to our <strong>“Full Access”</strong> membership, you’ll be able to see all of the
                                    hiring and contact information for each manager and recruiter for every job
                                    listing.
                                </p>
                                <p>
                                    We also give you points for contributions which you can use to drop the cost of
                                    the
                                    <strong>“Full Access”</strong> membership.<br>
                                    Leader Terminal also provides space for companies and recruiters to post their
                                    jobs on
                                    the network. </p>
                            </div>
                        </div>

                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_4" aria-expanded="false"
                           aria-controls="faq_4">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">Can I find jobs locally? </span>
                        </a>
                        <div class="collapse" id="faq_4">
                            <div class="card card-body ">
                                <p> Of course you can!</p>
                                <p>
                                    Leader Terminal is a global community with roots in New York City, San Francisco,
                                    Los
                                    Angeles, Boston, Chicago, and other major cities in the United States as well as
                                    Canada.</p>
                            </div>
                        </div>

                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_5" aria-expanded="false"
                           aria-controls="faq_5">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">When should I sign up? </span>
                        </a>
                        <div class="collapse" id="faq_5">
                            <div class="card card-body ">
                                <p> You can join Leader Terminal whenever you like.</p>
                                <p>
                                    Our members use Leader Terminal to get a feel for the job market, share these jobs
                                    with peers, and do competitive benchmarking.
                                    There are plenty of opportunities out there for you and we provide the resources
                                    to
                                    get you where you need to go.</p>
                            </div>
                        </div>

                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_6" aria-expanded="false"
                           aria-controls="faq_6">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">What types of companies do you work with? </span>
                        </a>
                        <div class="collapse" id="faq_6">
                            <div class="card card-body ">
                                <p> We have a diverse group of companies you can choose from ranging from
                                    early-stage
                                    startups to established multinational corporations.</p>
                                <p>
                                    When we receive a job listing, we thoroughly vet the company and the role
                                    offered to
                                    make sure you’re getting the highest quality career opportunities possible. </p>
                            </div>
                        </div>

                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_7" aria-expanded="false"
                           aria-controls="faq_7">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">Do you have any membership criteria? </span>
                        </a>
                        <div class="collapse" id="faq_7">
                            <div class="card card-body ">
                                <p> We have high standards for our members and so we evaluate each applicant on
                                    their
                                    merit, career accomplishments, and overall progression.</p>
                                <p>
                                    We have a two-part evaluation process that assesses an applicant’s eligibility
                                    for
                                    membership, which includes an automated review of the applicant, combined with a
                                    peer review process (see peer review guidelines).</p>
                                <p>
                                    We don’t use a detailed rubric for vetting applicants because it limits our
                                    ability
                                    to assess the individual in a thoughtful and inclusive manner.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="news_listing faq_listing">
                    <h3>Reaching Out to Employers</h3>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_8" aria-expanded="false"
                           aria-controls="faq_8">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">What happens once I’ve redeemed a job posting? </span>
                        </a>
                        <div class="collapse" id="faq_8">
                            <div class="card card-body ">
                                <p> After redeeming a job’s contact information, we recommend finding that contact’s
                                    LinkedIn profile to see if you have any common connections.</p>
                                <p>
                                    Getting introduced by a mutual connection leads to the highest response
                                    rates.</p>
                            </div>
                        </div>

                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_9" aria-expanded="false"
                           aria-controls="faq_9">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">How many jobs can I redeem? </span>
                        </a>
                        <div class="collapse" id="faq_9">
                            <div class="card card-body ">
                                <p> As much as you want!</p>
                                <p>
                                    Feel free to apply for all sorts of different positions if you feel that you are
                                    a
                                    good fit for the role.</p>
                                <p>
                                    If you upgrade to our <strong>“Full Access”</strong> membership, you’ll be able to
                                    see all of the
                                    hiring and contact information for each manager and recruiter for every job
                                    listing.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_10" aria-expanded="false"
                           aria-controls="faq_10">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">Am I obligated to go to the interview If I change my mind about a  company? </span>
                        </a>
                        <div class="collapse" id="faq_10">
                            <div class="card card-body ">
                                <p> No, if you decide that you no longer want to work with a company you will not
                                    have
                                    to continue with the interview phase and it will have no affect on your standing
                                    with us or the platform.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="news_listing faq_listing">
                    <h3>Your Leader Terminal Account</h3>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_11" aria-expanded="false"
                           aria-controls="faq_11">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">How do I set my email preferences? </span>
                        </a>
                        <div class="collapse" id="faq_11">
                            <div class="card card-body ">
                                <p> In the <strong>“Email Preferences”</strong> section of your Manage Settings page you
                                    can:</p>
                                <ul>
                                    <li>Tailor your weekly jobs email to be more relevant to you by choosing the job
                                        functions and geographical areas that interest you the most.
                                    </li>
                                    <li>Change the primary address where you’d like to receive Leader Terminal emails
                                        by
                                        selecting <strong>“Make Primary”</strong>.
                                    </li>
                                    <li>Add email accounts or remove any that might be inactive.</li>
                                </ul>
                                <p>
                                    Feel free to apply for all sorts of different positions if you feel that you are a
                                    good fit for the role.
                                    If you upgrade to our <strong>"Full Access"</strong> membership, you’ll be able to
                                    see
                                    all of the
                                    hiring and contact information for each manager and recruiter for every job listing.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_12" aria-expanded="false"
                           aria-controls="faq_12">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">How do I reset my password? </span>
                        </a>
                        <div class="collapse" id="faq_12">
                            <div class="card card-body ">
                                <p> You can reset your password on your Manage Settings page under the <strong>“Profile
                                    Preferences”</strong> section. The email confirmation will be sent to your primary
                                    email
                                    address, which is also noted as <strong>“primary”</strong> on your Manage Settings
                                    page.
                                    If you can’t remember your old password (don’t worry, it happens all the time)
                                    you
                                    can:</p>
                                <ul>
                                    <li>Log out of your account and click the <strong>“Log In”</strong> button in the
                                        upper
                                        right-hand
                                        corner of Leader Terminal.com.
                                    </li>
                                    <li>After entering your email, the next screen will ask you to enter your
                                        password.
                                        Click the link above the field that says <strong>“Forgot password?”</strong>.
                                    </li>
                                    <li>Then check your primary email associated with your account. Within a few
                                        minutes
                                        you should receive an email containing a link to reset your password.
                                    </li>
                                </ul>
                                <p>
                                    If you would like further assistance, please contact us at <a
                                        href="mailto:support@leadertheory.com">support@leadertheory.com</a>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_19" aria-expanded="false"
                           aria-controls="faq_19">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">How do I unsubscribe? </span>
                        </a>
                        <div class="collapse" id="faq_19">
                            <div class="card card-body ">
                                <p> If you would like to unsubscribe from the weekly job listings email you can do so by
                                    going to the Email Preferences section of your Manage Settings page and uncheck the
                                    box that says <strong>“I would like to receive Leader Terminal emails”</strong>. </p>
                            </div>
                        </div>

                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_13" aria-expanded="false"
                           aria-controls="faq_13">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">How do I earn and use Leader Terminal points? </span>
                        </a>
                        <div class="collapse" id="faq_13">
                            <div class="card card-body ">
                                <div> We have created a simple “give-to-get” point system in which members earn
                                    redeemable
                                    credit that they can trade-in to lower the cost of their “Full Access”
                                    membership.
                                    Each point you earn is worth the equivalent of $1.00 off the regular price.
                                    There are three primary ways to earn more Leader Terminal points (for future
                                    trade-in
                                    purposes):
                                    <ol>
                                        <li> Refer new members and earn up to 2 points per referral.
                                            Each time you refer a new member to Leader Terminal you’ll earn 2 points. You
                                            can
                                            invite as many peers as you’d like on the Invite Peers page.
                                            As a bonus, we’ll also award you with an extra 1 point the first time you
                                            refer
                                            a peer who goes on to become an Leader Terminal member. You can check the
                                            status
                                            of your invites at any time in your Point History.
                                        </li>
                                        <li>Forward exec-level job opportunities to us and earn up to 6 points per
                                            submission
                                            If there’s an executive level job that you have been offered, but don’t
                                            intend
                                            to take please forward it to <a href="mailto:support@leadertheory.com">support@leadertheory.com</a>.
                                            To receive maximum
                                            points, check out the job criteria here. All submissions are kept completely
                                            anonymous; and you’ll receive an additional bonus point for your first job
                                            contribution.
                                            <p class="additional-question">Additional questions about submitting
                                                jobs:</p>
                                            <ul>
                                                <li><strong>How are Leader Terminal's listings vetted?</strong></li>
                                                <li><strong>Do I need to do any vetting before I submit job
                                                    opportunities to
                                                    Leader
                                                    Theory?</strong>
                                                </li>
                                                <li><strong>Can I submit job opportunities from my employer?</strong>
                                                </li>
                                            </ul>
                                        </li>
                                        <li> Review applicants and earn up to 7 points per week
                                            Peer Review gives members the ability to contribute to the Leader Terminal
                                            applicant vetting process. For every 2 applicants you review you’ll receive
                                            one
                                            (1) point, and up to a maximum of seven (7) points per week.
                                            <p class="additional-question">Additional questions about Peer Review:</p>

                                            <ul>
                                                <li><strong>Does my vote determine whether or not an applicant will be
                                                    admitted
                                                    to
                                                    Leader Terminal?</strong>
                                                </li>
                                                <li><strong>What are the criteria for entry?</strong></li>
                                                <li><strong>Why didn’t I see candidates this week?</strong></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p class="additional-question">Can I buy points?</p>
                                            While we hope that all Leader Terminal members continue to proactively
                                            contribute
                                            to the network and earn points, we understand that quickly and efficiently
                                            accessing the job opportunities that Leader Terminal makes available to you
                                            can be
                                            very useful and as such you can upgrade to Full Access membership.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_14" aria-expanded="false"
                           aria-controls="faq_14">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">Questions about Peer Review  </span>
                        </a>
                        <div class="collapse" id="faq_14">
                            <div class="card card-body ">
                                <div> Peer Review gives members the ability to contribute to the Leader Terminal
                                    applicant vetting process. For every 2 applicants you review you’ll receive one
                                    (1) point, and up to a maximum of seven (7) points per week.
                                    <p>
                                        Additional questions about reviewing peers:</p>
                                    <div class="pl-3">
                                        <p><strong>Does my vote determine whether or not an applicant will be admitted
                                            to
                                            Leader Terminal?</strong>
                                            <br>
                                            In order to make membership decisions fair, we combine member perspectives
                                            on
                                            applicants alongside our internal automated review process in order to come
                                            up
                                            with a balanced and unbiased decision.</p>
                                        <hr>
                                        <p><strong>What are the criteria for entry?</strong>
                                            <br>
                                            We don’t use a detailed rubric for vetting applicants because it limits our
                                            ability to assess the individual in a thoughtful and fair way. When you have
                                            applicants to review you will see some guidelines of what we tend to look
                                            for:
                                            career progression, achievements, future potential, etc.</p>
                                        <hr>
                                        <p><strong>Why didn’t I see candidates this week?</strong> <br>
                                            In order to quickly approve applicants, we let members vet on a
                                            first-come-first
                                            serve basis. Given that there are more voters than applicants this means
                                            that on
                                            some days you won’t see peers to review. </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="news_item faq_item">
                        <a data-toggle="collapse" href="#faq_15" aria-expanded="false"
                           aria-controls="faq_15">
                            <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">Questions about Submitting a Job  </span>
                        </a>
                        <div class="collapse" id="faq_15">
                            <div class="card card-body ">
                                <div> If there’s an executive level job that you have been offered, but don’t intend to
                                    take please forward it to support@leadertheory.com. To receive maximum points, check
                                    out the job criteria here. All submissions are kept completely anonymous; and you’ll
                                    receive an additional bonus point for your first job contribution.
                                    <div class="pl-3 pt-2">
                                        <p><strong>How are Leader Terminal's listings vetted? </strong><br>
                                            Our operational team reviews all job submissions to ensure that they’re of
                                            the
                                            quality that’s expected of our high-caliber members. If you redeem a point
                                            for a
                                            particular job and you find out shortly after we posted it that the position
                                            has
                                            been filled, please contact us to let us know. </p>
                                        <hr>
                                        <p><strong>Do I need to do any vetting before I submit job opportunities to
                                            Leader Terminal?</strong>
                                            <br>
                                            No, just submit job opportunities for which you’re approached by executive
                                            recruiters (but aren’t interested in pursuing) to support@leadertheory.com
                                            and
                                            we’ll do the vetting for you. </p>
                                        <hr>
                                        <p><strong>Can I submit job opportunities from my employer?</strong> <br>
                                            Yes! We welcome all Director-level and above jobs submitted on behalf of
                                            your
                                            employer. If you’d like to see candidates for a job that you’re hiring, you
                                            can
                                            post your job here.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="news_listing faq_listing">
                        <h3>Your Privacy Leader Terminal Account</h3>
                        <div class="news_item faq_item">
                            <a data-toggle="collapse" href="#faq_16" aria-expanded="false"
                               aria-controls="faq_16">
                                <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">Will people know that I use Leader Terminal? </span>
                            </a>
                            <div class="collapse" id="faq_16">
                                <div class="card card-body ">
                                    <p> No, not unless you communicate it with your peers. All Leader Terminal member
                                        profiles are anonymous.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="news_item faq_item">
                            <a data-toggle="collapse" href="#faq_17" aria-expanded="false"
                               aria-controls="faq_17">
                                <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">Can anyone see if I redeem a point on a job? </span>
                            </a>
                            <div class="collapse" id="faq_17">
                                <div class="card card-body ">
                                    <p> No, employers will only see your information if you choose to reach out to them.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="news_item faq_item">
                            <a data-toggle="collapse" href="#faq_18" aria-expanded="false"
                               aria-controls="faq_18">
                                <span><i class="fa fa-plus"></i></span> <span class="news_item faq_item_title">Will anyone see that I’m the contributor of a crowdsourced job? </span>
                            </a>
                            <div class="collapse" id="faq_18">
                                <div class="card card-body ">
                                    <p> No, all contributions you make are kept confidential.<br>
                                        If you’re interested in engaging with Leader Terminal members, please reach out to
                                        us at
                                        <a href="mailto:support@leadertheory.com">support@leadertheory.com</a>.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
