{% extends 'jobs/../jobs/base.html' %}
{% block content %}

    <div class="page_title_wrapper">
        <div class="container">
            <h3 class="text-center">News</h3>
        </div>
    </div>
    <div class="news_page_wrapper pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-7 col-sm-12 col-12">
                    <div class="news_listing">
                        {#                        <h4>September 2020</h4>#}
                        <div class="news_item">
                            <a href="http://www.sbwire.com/press-releases/companies-can-now-get-leaders-who-can-effectively-manage-their-team-members-793160.htm">
                                <span class="date">April 12, 2017</span>
                                <span class="news_item_title">Companies Can Now Get Leaders Who Can Effectively Manage Their Team Members<small>SBWire</small></span>
                            </a>
                        </div>
                        <div class="news_item">
                            <a href="https://www.buzzfeed.com/krgfted/mve-3p4gm?utm_source=dynamic&utm_campaign=bfsharetwitter&utm_term=.vxNZ8X69oJ">
                                <span class="date">November 18, 2018</span>
                                <span class="news_item_title">The Only Platform Where Companies And Talent Can Securely Meet In Real Time <small>BuzzFeed</small></span>
                            </a>
                        </div>
                    </div>
                    {#                    <div class="news_listing">#}
                    {#                        <h4>August 2020</h4>#}
                    {#                        <div class="news_item">#}
                    {#                            <a href="#">#}
                    {#                                <span class="date">23 Aug, 2020</span>#}
                    {#                                <span class="news_item_title">Exec Level Job Board with ExecThread’s Joe Meyer <small>Up My Influence</small></span>#}
                    {#                            </a>#}
                    {#                        </div>#}
                    {#                        <div class="news_item">#}
                    {#                            <a href="#">#}
                    {#                                <span class="date">13 Aug, 2020</span>#}
                    {#                                <span class="news_item_title">Exec Level Job Board with ExecThread’s Joe Meyer <small>Up My Influence</small></span>#}
                    {#                            </a>#}
                    {#                        </div>#}
                    {#                        <div class="news_item">#}
                    {#                            <a href="#">#}
                    {#                                <span class="date">03 Aug, 2020</span>#}
                    {#                                <span class="news_item_title">Exec Level Job Board with ExecThread’s Joe Meyer <small>Up My Influence</small></span>#}
                    {#                            </a>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
                {#                <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12 col-12">#}
                {#                    <div class="news_right_area">#}
                {#                        <div class="news_right_inner">#}
                {#                            <h4>Press Kit</h4>#}
                {#                            <p>Logos, company photos, product screenshots</p>#}
                {#                            <a href="#">Download</a>#}
                {#                        </div>#}
                {#                        <div class="news_right_inner_white">#}
                {#                            <p>For media inquiries please contact <a href="mailto:press@leadertheory.com">press@leadertheory.com</a>#}
                {#                            </p>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
