{% extends "jobs/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Leader Terminal - Sign up</title>
    <script type="text/javascript" src="https://js.authorize.net/v1/Accept.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/payform@1.4.0/dist/payform.min.js"
            charset="utf-8"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div id="login-div" class="row justify-content-center mb-5 mt-5">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="shadow_box welcome-header">
                    <h2>Sign Up</h2>
                    <h4>Creating an account is quick and free</h4>
                    <div>
                        <div class="button_item">
                            {% include "accounts/components/linkedin_button.html" with text="Sign up" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        var checkoutButton = document.getElementById("submit-btn");
        checkoutButton.addEventListener("click", function () {
            var form = $("#signupform").serializeArray();
            var formdata = new FormData()
            var data = {};
            $(form).each(function (index, obj) {
                formdata.append(obj.name, obj.value)
            });
            fetch("{% url 'signup' %}", {
                method: "POST",
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}",
                    {#'Content-Type': 'application/json'#}
                },
                body: formdata
            })
                .then(function (response) {
                    if(response.status===200){
                     return response.json();
                    }else{
                        $('#signupform')[0].reset()
                        throw new Error(response.json());
                    }
                })
                .then(function (session) {
                    console.log("se", session)
                    return stripe.redirectToCheckout({sessionId: session.id});
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.log("Error:", error);
                });
        });
    </script>
    <script>
        $(document).ready(function () {
            {#            var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");#}
            {#		// Create an instance of Elements.#}
            {#		var elements = stripe.elements();#}
            {##}
            {#		// Custom styling can be passed to options when creating an Element.#}
            {#		// (Note that this demo uses a wider set of styles than the guide below.)#}
            {#		var style = {#}
            {#		  base: {#}
            {#		    color: '#32325d',#}
            {#		    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',#}
            {#		    fontSmoothing: 'antialiased',#}
            {#		    fontSize: '16px',#}
            {#		    '::placeholder': {#}
            {#		      color: '#aab7c4'#}
            {#		    }#}
            {#		  },#}
            {#		  invalid: {#}
            {#		    color: '#fa755a',#}
            {#		    iconColor: '#fa755a'#}
            {#		  }#}
            {#		};#}
            {##}
            {#		// Create an instance of the card Element.#}
            {#		var card = elements.create('card', {style: style});#}
            {#				// Add an instance of the card Element into the `card-element` <div>.#}
            {#		card.mount('#card-element');#}
            {##}
            {#		// Handle real-time validation errors from the card Element.#}
            {#		card.addEventListener('change', function(event) {#}
            {#		  var displayError = document.getElementById('card-errors');#}
            {#		  if (event.error) {#}
            {#		    displayError.textContent = event.error.message;#}
            {#		  } else {#}
            {#		    displayError.textContent = '';#}
            {#		  }#}
            {#		});#}
            {##}
            {#        var form = document.getElementById('signupform');#}
            {#		form.addEventListener('submit', function(event) {#}
            {#		  event.preventDefault();#}
            {##}
            {#		  stripe.createToken(card).then(function(result) {#}
            {#		    if (result.error) {#}
            {#		      // Inform the user if there was an error.#}
            {#		      var errorElement = document.getElementById('card-errors');#}
            {#		      errorElement.textContent = result.error.message;#}
            {#		    } else {#}
            {#		      // Send the token to your server.#}
            {#		      stripeTokenHandler(result.token);#}
            {#		    }#}
            {#		  });#}
            {#		});#}
            {##}

            // Submit the form with the token ID.
            function stripeTokenHandler(token) {
                // Insert the token ID into the form so it gets submitted to the server
                var form = document.getElementById('signupform');
                {#var hiddenInput = document.createElement('input');#}
                {#hiddenInput.setAttribute('type', 'hidden');#}
                {#hiddenInput.setAttribute('name', 'stripeToken');#}
                {#hiddenInput.setAttribute('value', token.id);#}
                {#form.appendChild(hiddenInput);#}

                // Submit the form
                form.submit();
            }
        })
    </script>
{% endblock %}