<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            box-sizing:inherit;
        }
    </style>
</head>
<body>
<p>About the job:

    GetUpside is looking for a Senior Business Development Manager to lead the charge of growing and managing
    GetUpside’s network partners, from startups to the largest financial institutions. As a member of the Business
    Development team, you’ll play a key role in defining our consumer partner strategy, cultivating relationships with
    key executive stakeholders, building and supporting partnerships on top of our APIs, and managing strategic
    relationships from inception to scale with constituents across our organization. You’ll partner closely with
    internal product and operations teams to drive consumer growth through strategic partnerships.

    What you’ll do:

    Leverage your industry expertise to develop and execute a compelling partnership strategy that drives success for
    GetUpside and our merchants over the long term
    Drive meaningful user growth and expansion opportunities via network partnerships
    Structure and negotiate multi year contracts with partners across the fintech, consumer web and transportation
    industries.
    Become a key customer partner, developing strategic relationships with founders and executives of GetUpside’s most
    strategic partners
    Work in a fast-paced evolving environment, and thrive in a dynamic, fluid, matrix environment
    Deliver world-class results, while continuously challenging yourself and your team to be more ambitious

    What do you need:

    7 - 10 years of relevant experience negotiating commercial agreements, management consulting, corporate strategy or
    project management.
    Experience in financial services, payments and internet/technology businesses is required – including direct work
    with merchants and partners.
    Demonstrated partnerships experience in a startup or financial services environment strongly preferred.
    Creative and meticulous approach to structuring agreements, work with partners, and interpret legal documents.
    Excellent quantitative analytical skills, with the ability to demonstrate conclusions based on data-focused
    approach.
    Ability to manage multiple projects and deliver results in a fast-paced environment working within timing
    constraints.
    Ability to travel (up to 40%)
    BS/BA degree required. MBA or other advanced degree preferred.
<div><h5 class="panel-sub-title"><span>Functions:</span></h5>
    <ul id="functions-text">
        <li>Sales/Revenue
        <li>Strategy</li>
        </li></ul>
</div>
<div><h5 class="panel-sub-title"><span>Skills:</span></h5>
    <ul>
        <li>Business Development required
        <li>Contract Negotiation required
        <li>Partnership Development required
        <li>Strategic Partnerships required
        <li>Project Management required</li>
        </li></li></li></li></ul>
</div>
<div class="listing-grid"><h6><span>Travel %</span></h6>
    <p id="travel-percent"><span>Less than 10%</span></p>
    <svg viewbox="0 0 40 32">
        <path d="M3.5 14.5h33v15h-33z" fill="#f4f6f5"></path>
        <path d="M37 30H3V14h34zM4 29h32V15H4zM27 9H13V2h14zM14 8h12V3H14z" fill="#abb0be"></path>
        <path d="M2.5 5.5h35v13h-35z" fill="#fff"></path>
        <path d="M38 19H2V5h36zM3 18h34V6H3z" fill="#abb0be"></path>
        <path d="M18.5 15.5h3v6h-3z" fill="#f4f6f5"></path>
        <path d="M22 22h-4v-7h4zm-3-1h2v-5h-2z" fill="#abb0be"></path>
    </svg>
</div>
</p>
</body>
</html>
